<% @advertisements.each do |advertisement| %>
  <div>
    <%= advertisement.title %>
  </div>
  <div>
    <%= advertisement.text %>
  </div>
  <div>
    <%= advertisement.author %>
  </div>
<% end %>
