/*
*= require material_icons
*/
@import "materialize/components/color-variables";
$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("teal", "lighten-2") !default;
@import 'materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.category-list {
  color: #000;
  font-weight: lighter;
}

.category-list:hover {
  color: #039be5;
  -webkit-transition: color 0.2s ease-out;
}

.category-icon {
  margin-top: auto;
}

.container {
  padding-top: 20px;
}

.search-button {
  position: relative;
  top: -5px;
}
