<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col s12 m6 l3">
        <div class="card grey lighten-4 z-depth-1">
          <div class="card-content">
            <span class="card-title">
              <b>
                <%= category.title %>
              </b>
              <% if current_user and current_user.admin %>
                <%= link_to '<i class="material-icons tiny">edit</i>'.html_safe,
                    edit_category_path(category.id) %>
              <% end %>
            </span>
            <% category.subcategories.each do |subcategory| %>
              <p><%= link_to subcategory.title, category_subcategory_path(category.id, subcategory.id), class: 'subcategory-list' %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
