.container
  - if @category.advertisements.length < 1
    .center
      | Категорія порожня.
      br/
      br/
      br/
      br/
      = link_to("Go to main page", root_path, :class => 'btn lighten-2 waves-effect waves-light')
  .row
    - @category.advertisements.each do |advertisement|
      .col.s12
        .card.grey.lighten-5.hoverable
          .card-content
            span.card-title
              b= advertisement.title
            - if current_user and advertisement.user == current_user
              = link_to 'Edit', edit_advertisement_path(advertisement.id)
              = link_to 'Destroy', advertisement_path(advertisement.id), data: { confirm: "Are you sure?" }, method: "delete"
              br/
            small
              = link_to advertisement.category.title, root_path
            div
              = advertisement.text
            div
              = link_to advertisement.user.name, user_path(advertisement.user_id)
