footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Classified Ads
        p.grey-text.text-lighten-4 Classified Ads.
      .col.l4.offset-l2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3 href="#!"  Link 1
          li
            a.grey-text.text-lighten-3 href="#!"  Link 2
          li
            a.grey-text.text-lighten-3 href="#!"  Link 3
          li
            a.grey-text.text-lighten-3 href="#!"  Link 4
  .footer-copyright
    .container
      = link_to '© 2019 Designed by Yurii Sushkov', 'https://github.com/ssupremus'
      a.grey-text.text-lighten-4.right href="#!"  More Links
