<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">UKI ADS</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="hide-on-med-and-down">
        <li><%= link_to 'Home', categories_path %></li>
        <li><%= link_to 'New Category', new_category_path %></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to 'Home', categories_path %></li>
    <li><%= link_to 'New Category', new_category_path %></li>
  </ul>
</header>
